body {
    height: 100vh;
}

footer {
    margin-top: 10px;
    height:100px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 
@media only screen and (max-width: 990px) {
    main {
      height:100vh;
    }
} */