* {
    margin : 0;
    padding : 0;
    text-decoration: none;
    /* text-transform: capitalize; */
}

a {
    color : inherit;
}

header {
    padding : 2px 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(151, 167, 255, 0.619); */
    background:linear-gradient(45deg ,#1b85e3 , #46f3e5) center center no-repeat;
    color: white;
}

header .logo {
    padding: 5px 5px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(151, 166, 255); */
}
header .logo img{
    width:90px;
}

header .logo span {
    color: white;
}

header .nav {
    display: flex;
    text-transform: uppercase;
}

header .nav li {
    padding: 30px 10px;
    font-size: 1.2em;
    transition-duration: 1s;
}

header .nav li:hover {
    color:white;
    background-color:#46f3e5;
    /* background:linear-gradient(45deg ,#1b85e3 , #46f3e5) center center no-repeat; */
    margin-right:10px;
}

.contenaire {
    /* margin:20px 100px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:10px 10px;
}

.fiche-cars {
    width: 300px;
    background:linear-gradient(45deg ,#1b85e3 , #46f3e5) center center no-repeat;
}

.fiche-cars :nth-child(2) {
    text-align: center;
}

.fiche-cars img {
   height: 200px;
    width: 300px;
}

.btn-buy {
    border-radius: 5px;
    padding:5px 15px;
    border: 1px solid #000;
}

.btn-buy:hover {
    color: white;
    background-color: #000;
}

/* admin */
.table-admin-cars img{
    width: 100px;
    height: 100px;
}

footer {
    margin-top: 10px;
    height:100px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* form */
form{
    display: inline;
}

.succes{
    background-color: #46f3e5;
    width: 500px;
    margin: 10px;
    font-size: 1.2em;
    padding: 5px 0;
}

.errors{
    background-color: #f34646;
    color:white;
    width: 500px;
    margin: 10px;
    font-size: 1.2em;
    padding: 5px 0;
}

.label{
    display: block;
    font-size: 1.2em;
    text-align: left;
    margin:0 10px;
}

.input{
    display: block;
    width: 500px;
    height: 40px;
    margin:0 10px;
    padding-left: 10px;
}

.btn{
    margin:10px 10px;
    background:linear-gradient(45deg ,#1b85e3 , #46f3e5) center center no-repeat;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1em;
    font-family:monospace;
    border:unset;
}

.reservation-car{
    background:linear-gradient(45deg ,#1b85e3 , #46f3e5) center center no-repeat;
    /* padding:20px; */
}

.reservation-car img {
   height: 400px;
    width: 500px;
}
